@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  font-family: 'Press Start 2P';
  src: url('./font/PressStart2P.ttf')
}
html, body {
  margin: 0;
  background-color: #000000;
  background-image: url('./images/BG2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#placeholder{
  margin: 0 auto;
  text-align: center;
  width: 518px;
  padding-top: 10px;
}
#canvas {
  border: 2px solid cyan;
}

li {
  display:none;
}
li:nth-last-child(-n+3){
    display:block;
} 
li:nth-child(even) {
  color: #ffffff;
}